<div class="navbar">
    <button mat-mini-fab  color="warn" >
      <mat-icon>menu</mat-icon>
    </button> 
   <strong class="navbartitle">Todo List</strong>
   
  
  
  
  
  </div>
  
  <div class="container">
  
  <button mat-raised-button class="Inserirbtn"><strong>Inserir</strong></button>
  <h1 class="inserirClass">Lista de tarefas</h1>
  
  
  
  </div>
  
  <mat-card class="tableControl">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  
    
    <ng-container matColumnDef="nameTask">
      <mat-header-cell *matHeaderCellDef> Nome da tarefa </mat-header-cell>
      <mat-cell style="margin-right: 1%;" *matCellDef="let element"> {{element.nameTask}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef> Descrição da tarefa </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Quem realizou</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-mini-fab class="btnStyle1">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab class="btnStyle2">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab class="btnStyle3">
          <mat-icon>clear</mat-icon>
        </button>
     </mat-cell>
      
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </mat-card>
