
.container{
  display: flex;
}
  .Inserirbtn{
    color: white; 
    background-color: #008000;
    margin-top: 12%;
    margin-left: 3%;
  }

  .inserirClass{
    margin-left: 35%;
    margin-top: 12%;
    align-self: center;
    font-size: xx-large;
  }

  .tableControl{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
  }

  .btnStyle1{
    background-color: #008000;
    margin-right: 20%;
  }

  .btnStyle2{
    background-color:#afaf0d;
    margin-right: 20%;
  }

  .btnStyle3{
    background-color: #ff0000;
    margin-right: 5%;
  }







  table {
    margin-top: 15px;
    border: solid 2px black;
    text-align: center;
  }
  table tr td {
    text-align: center;
    border: solid 1px red;
    padding: 5px;
  }
  