
.navbar {
    float: left;  
    background-color: #f44336;
    position: fixed;
    
    width: 100%;
    margin-bottom: 3%;
  }

  .navbartitle{
    float: left;
    font-size: large;
    color: white; 
    margin-left: 49%;
    margin-right: 10%;
  }

  .container{
    margin-left: 15%;
  }

  .Inserirbtn{
    color: white; 
    background-color: green;
    width: 85%;
    margin-top: 12%;
    margin-bottom: 3%;
  }

  .inserirClass{
    margin-left: 35%;
    margin-right: 35%;
    font-size: xx-large;
  }

  .tableControl{
   
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
  }

  .btnStyle1{
    background-color: green;
    margin-right: 20%;
  }

  .btnStyle2{
    background-color:rgb(175, 175, 13);
    margin-right: 20%;
  }

  .btnStyle3{
    background-color: red;
    margin-right: 5%;
  }