<div class="navbar">
  
 <strong class="navbartitle">Todo List</strong> 
<a><button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
  <mat-icon>home</mat-icon>
</button> </a>


<a><button mat-mini-fab color="warn"  aria-label="Example icon button with a menu icon">
  <mat-icon>menu</mat-icon>
</button></a>
</div>

<div class="container">

<button mat-raised-button class="Inserirbtn"><strong>Inserir</strong></button>
<br><br><br>
<h1 style="font-size: xx-large; margin-left: 437px;">Lista de tarefas</h1>
<br><br>


</div>

<mat-card class="tableControl">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> Nome da tarefa </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Descrição da tarefa </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Quem realizou</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button mat-mini-fab class="btnStyle1">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-mini-fab class="btnStyle2">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab class="btnStyle3">
        <mat-icon>clear</mat-icon>
      </button>
   </mat-cell>
    
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</mat-card>